<h1>
	IForm Collection
</h1>

@using (Html.BeginForm("Form", "IForm", FormMethod.Post))
{
	<div class="card">
    <div class="card-body">
        <h5 class="card-title">IForm Form</h5>
            <input type="hidden" />
            <div class="row mb-3">
                <label for="customer_Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    @Html.TextBox("Name",null,new {@class = "form-control"})
                </div>
            </div>
            <div class="row mb-3">
                <label for="home_Addresh" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    @Html.TextBox("Age", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
    </div>
    </div>
}

@if(ViewBag != null)
{
    <p>Name : @ViewBag.Name</p>
    <p>Age : @ViewBag.Age</p>
}